<div class="ng-datetime" ng-class="$ctrl.type">
    <div class="ng-datetime-date">
        <div class="ng-datetime-navigation">
            <a href="#" ng-click="$ctrl.prev($event)">&lt;</a>
            <span>{{$ctrl.getTitle()}}</span>
            <a href="#" ng-click="$ctrl.next($event)">&gt;</a>
        </div>
        <div class="ng-datetime-weekdays">
            <span class="ng-datetime-weekday" ng-repeat="weekday in $ctrl.calendar.weekdays">{{weekday}}</span>
        </div>
        <div class="ng-datetime-dates" ng-click="$ctrl.select($event)">
            <span class="ng-datetime-day"
                  date="{{day.date.format('YYYY-MM-DD')}}"
                  ng-class="{inactive: !day.status, today: day.date.format('YYYY-MM-DD') == $ctrl.today.format('YYYY-MM-DD'), selected: day.date.format('YYYY-MM-DD') == $ctrl.selected.format('YYYY-MM-DD') && day.status}"
                  ng-repeat="day in $ctrl.calendar.days">{{day.day}}</span>
        </div>
    </div>
    <div class="ng-datetime-time">
        <div class="ng-datetime-show-time">{{$ctrl.showTime()}}</div>
        <div class="ng-datetime-hours"><label>Hours:</label><input type="range" min="0" max="23" ng-model="$ctrl.hours" ng-change="$ctrl.updateTime()"/></div>
        <div class="ng-datetime-minutes"><label>Minutes:</label><input type="range" min="0" max="59" ng-model="$ctrl.minutes" ng-change="$ctrl.updateTime()"/></div>
    </div>
</div>