.ng-datetime {
  position: absolute;
  box-sizing: border-box;
  left: 200px;
  top: 100px;
  width: 232px;
  padding: 10px;
  z-index: 10000;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #ffffff;

  &.date {
    .ng-datetime-time {
      display: none;
    }
  }

  &.time {
    .ng-datetime-date {
      display: none;
    }
  }

  .ng-datetime-date {
    .ng-datetime-navigation {
      display: flex;
      flex-direction: row;
      position: relative;
      height: 30px;
      line-height: 30px;

      a {
        display: inline-block;
        width: 30px;
        color: black;
        text-decoration: none;
        text-align: center;

        &:hover {
          background-color: #e3e3e3;
          text-decoration: none;
        }
      }

      span {
        flex: 1;
        text-align: center;
      }
    }

    .ng-datetime-weekdays {
      display: flex;

      .ng-datetime-weekday {
        width: 14.28%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
      }
    }

    .ng-datetime-dates {
      display: flex;
      flex-wrap: wrap;

      .ng-datetime-day {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;

        &.inactive {
          color: #cccccc;
          cursor: default;

          &:hover {
            background-color: #ffffff;
          }
        }

        &.today {
          background-color: #f0f0f0;
        }

        &.selected {
          background-color: #e3e3e3;
        }

        &:hover {
          background-color: #e3e3e3;
        }
      }
    }
  }

  .ng-datetime-time {
    padding-top: 10px;

    .ng-datetime-show-time {
      text-align: center;
      font-size: 20px;
    }

    input {
      width: 100%;
    }
  }
}