<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppController as $ctrl">
<head>
    <meta charset="UTF-8">
    <title>ng-datetime</title>

    <!-- vendor:js -->
    <!-- endinject -->

    <!-- plugin:js -->
    <!-- endinject -->
    <!-- templates:js -->
    <!-- endinject -->

    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
<div style="width: 210px;">
    <div>
        <input type="text"
               ng-model="$ctrl.data.date"
               ng-datetime
               show-type="datetime"
               format="YYYY/MM/DD HH:mm"/>

        <input type="text"
               ng-model="$ctrl.data.date2"
               ng-datetime
               min-date="2016-11-10"
               show-type="date"
               format="YYYY/MM/DD"/>

        <input type="text"
               ng-model="$ctrl.data.date3"
               ng-datetime
               min-date="2016-11-10"
               show-type="time"
               format="HH:mm"/>
    </div>
</div>

    <!-- inject:js -->
    <!-- endinject -->

</body>
</html>